@media(max-width:1024px) {
    .container {
        background-size: cover;
    }

    .section img {
        width: 450px;
    }

    .section .info {
        width: 450px;
    }

    .info .title {
        font-size: 40px;
    }

    .info .description {
        font-size: 18px;
    }
}

@media(max-width:768px) {
    .container {
        height: 100%;
        background-image: url(../images/bg-mobile.svg);
        background-size: contain;
        padding: 40px 0;
    }

    .section {
        display: flex;
        flex-direction: column;
    }

    .section img {
        margin-right: 0;
    }

    .section .info {
        align-items: center;
    }

    .info .title,
    .info .description {
        text-align: center;
    }

    .info .button {
        padding: 15px 90px;
        margin-bottom: 20px;
    }

    .footer {
        display: flex;
        justify-content: center;
    }
}

@media(max-width:425px) {
    .section img, .section .info {
        width: 290px;
    }

    .info .title{
        font-size: 26px;
    }

    .info .description{
        font-size: 16px;
    }
}